.main__category{
    margin-bottom: 55px;
}
.category__title{
    text-align: center;
    color: var(--font-color, #333);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}
.category__subtitle{
    color: var(--font-color-1, #666);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}
.category__items{
    display: flex;
    justify-content: space-between;
    margin: 0px -10px;
    flex-wrap: wrap;
}
.category__items .items__item{
    flex: 0 1 33.333%;
    padding: 0px 10px;
}
.items__item{
    position: relative;
}
.category__items .items__item .item__image{
    margin-bottom: 30px;
    text-align: center;
}
.category__items .items__item .item__image img{
    border-radius: 10px;
    width: 100%;
}
.category__items .items__item .item__desc{
    color: var(--font-color, #333);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.item__promotion{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--color-white, #FFF);
    font-weight: 500;
    line-height: 150%; /* 24px */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 40px;
}
.item_discount{
    background: var(--color-red-accents, #E97171);
}
.item_new{
    background: var(--color-green-accents, #2EC1AC);
}

@media(max-width: 769px){
    .category__items{
        justify-content: center;
    }
    .category__items .items__item{
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}
@media(max-width: 426px){
    .category__items .items__item{
        flex: 0 1 100%;
    }
}


