.footer{
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}
.footer__body{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer__address{
    flex: 0 1 30%;
}
.address__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}
.address__subtitle{
    color: #9F9F9F;
    font-weight: 400;
    line-height: 150%;
}
.footer__lists{
    flex: 0 1 70%;
    display: flex;
    justify-content: space-around;
}
.footer__lists li:first-child a{
    color: #9F9F9F;
    font-weight: 500;
    margin-bottom: 55px;
    display: inline-block;
}
.list__item a{
    color: #000;
    font-weight: 500;
}
.list__item{
    margin-bottom: 45px;
}
.footer__coop{
    padding: 35px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}
.footer__coop a{
    color: #000;
    font-weight: 400;
}

@media(max-width: 769px){
    .footer__body{
        flex-wrap: wrap;
    }
    .footer__address{
        flex: 0 1 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .address__title{
        margin-bottom: 20px;
    }
    .footer__lists{
        flex: 0 1 100%;
        flex-wrap: wrap;
    }
    .lists__list{
        max-width: 400px;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .list__item{
        margin-bottom: 25px;
    }
    .footer__lists li:first-child a{
        margin-bottom: 25px;
    }
}
