body{
    font-family: "Poppins", sans-serif;
    font-weight: medium;
    font-size: 16px;
    color: black;
}
.container{
    min-width: 1220px;
    padding: 0px 10px;
    margin: 0 auto;
}
.products__title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}
.products__button{
    text-align: center;
}
.products__button a{
    color: #b88e2f;
    border: 1px solid #b88e2f;
    padding: 12px 74px;
    font-weight: 700;
    line-height: 150%;
    display: inline-block;
}
.item__scale a:hover{
    transform: scale(1.1);
}
.products__items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -16px;
    margin-bottom: 30px;
}
.products__items .items__item{
    flex: 0 0 25%;
    padding: 0px 16px;
    margin-bottom: 32px;
}
.products__items .items__item .item__body{
    background-color: #f4f5f7;
}
.products__items .items__item .item__body .item__image{
    min-width: 276px;
    margin-bottom: 15px;
}
.item__image img{
    width: 100%;
}
.item__info{
    padding: 0px 16px 30px 16px;
}
.info__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 5px;
}
.info__subtitle{
    color: #898989;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}
.info__price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
}
.price__current{
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.price__old{
    color: #b0b0b0;
    text-decoration: line-through;
}
.card_active{
    position: absolute;
    width: 276px;
    height: 100%;
    background: #3A3A3Abb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    opacity: 0;
    transition: all .5s;
}
.active__actions>div a{
    color: white;
    font-weight: 600;
    display: inline-block;
}
.active__actions>div a img{
    margin-right: 5px;
}
.items__item:hover .card_active{
    opacity: 1;
    transition: all .5s;
}
.main__products{
    margin-bottom: 60px;
}





